.logo {
  fill: var(--logo-color);
  width: 48px;
  height: 48px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.contentContainer {
  display: flex;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: var(--layout-header-height);
  z-index: 1;
  box-shadow: 0 0 4px var(--header-shadow-color);
}

.themeDropdown {
  margin-left: 8px;
}

.menuThemeItem {
  gap: 8px;
  cursor: pointer;
}

.themeItemIcon {
  width: 24px;
  height: 24px;
}

.title {
  display: none;
}

.content {
  min-width: 0;
  max-width: 100%;
}

.headerStartContent,
.headerEndContent {
  display: flex;
  align-items: center;
  gap: 16px;
}

.drawer {
  display: block;
}

.menu:global(.ant-menu .ant-menu-item-selected) {
  background: var(--menu-item-selected-background);
  color: var(--menu-item-selected-color);
}

.menu:global(.ant-menu .ant-menu-submenu-title) {
  color: var(--menu-link-color);
}

.menu:global(.ant-menu .ant-menu-sub) {
  padding-left: 32px;
}

.desktopMenu {
  display: none;
}

aside.sider {
  display: none;
}

a.link {
  color: var(--menu-link-color);
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 32px;
}

.headerLink {
  display: inherit;
}

.githubIcon svg {
  width: 32px;
  height: 32px;
  fill: var(--header-icon-fill);
}

button.drawerButton:hover {
  color: var(--drawer-button-hover-color) !important;
  border-color: var(--drawer-button-hover-border-color) !important;
}

@media (min-width: 600px) {
  .title {
    display: block;
  }
}

@media (min-width: 768px) {
  .drawer {
    display: none;
  }

  .desktopMenu {
    display: block;
  }

  aside.sider {
    position: sticky;
    top: var(--layout-header-height);
    height: calc(100vh - var(--layout-header-height));
    display: block;
    min-width: 280px !important;
    max-width: 360px !important;
    width: 100% !important;
  }
}
