@import "variables.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layoutTitle {
  background: var(--layout-title-background);
  z-index: 0;
  scroll-margin-top: var(--layout-header-height);
  scroll-snap-margin-top: var(--layout-header-height);
  padding: 8px;
}

@supports (scroll-margin-top: 0) {
  .layoutTitle {
    scroll-margin-top: var(--layout-header-height);
  }
}

.content {
  display: flex;
}

.navigateStructure {
  display: none;
  position: sticky;
  top: calc(var(--layout-header-height) + 16px);
  flex-direction: column;
  min-width: 120px;
  gap: 8px;
  max-height: calc(100% - var(--layout-header-height) - 16px);
  overflow-y: auto;
  height: 100%;
  padding: 16px 0 16px 16px;
  width: 100%;
  max-width: 280px;
  margin-top: 16px;
  border-radius: 4px;
  margin-left: 8px;
  background: var(--navigate-structure-background);
}

a.navigateStructureLink {
  color: var(--navigate-structure-color);
}

@media (min-width: 980px) {
  .navigateStructure {
    display: flex;
  }
}
