:root {
  --white: #ffffff;
  --black: #000000;
  --dark: rgb(20, 20, 20);
  --grey: #3f3f3f;

  --layout-header-height: 64px;
}

[data-theme="dark"] {
  --menu-link-color: var(--white);
  --menu-item-selected-background: var(--white);
  --menu-item-selected-color: var(--grey);
  --layout-title-background: var(--color-canvas-default);
  --header-shadow-color: var(--black);
  --navigate-structure-background: #1f1f1f;
  --navigate-structure-color: #9f9c9c;
  --header-icon-fill: var(--white);
  --logo-color: var(--white);
  --drawer-button-hover-color: var(--white);
  --drawer-button-hover-border-color: var(--white);
}

[data-theme="light"] {
  --menu-link-color: var(--black);
  --menu-item-selected-background: var(--grey);
  --menu-item-selected-color: var(--white);
  --layout-title-background: var(--white);
  --header-shadow-color: var(--grey);
  --navigate-structure-background: #f0f0f0;
  --navigate-structure-color: var(--grey);
  --header-icon-fill: var(--black);
  --logo-color: var(--black);
  --drawer-button-hover-color: var(--grey);
  --drawer-button-hover-border-color: var(--grey);
}
